::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: slateblue;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: slateblue;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: slateblue;
  }

input, textarea
{
    background: transparent;
    border: none;
    outline: slateblue ;
}